.ant-form-item-row {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.btn-input {
    justify-content: center;
    width: 100%;
}

.text-p {
    font-size: 0.75rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

h1 {
    display: flex;
    flex-direction: row;
    font-size: 1rem !important;
    color: gray;
}

h1:before,
h1:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid grey;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: center;
}